@import '../../utils/utils.scss';

.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 40px 40px 15px 40px;
    background-image: url("../../../public/scroll-item-background.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: $third-text-color;

    @include laptop {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    @include tablets {
        padding: 20px 20px 10px 20px;
    }
}

.info {
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include laptop {
        
    }
}

.arrow {
    max-height: 4vw;
    position: absolute;
    left: 15px;
    top: calc(50% - 2vw);
    transform: rotate(90deg);

    @include laptop {
        bottom: 50px;
        left: auto;
        top: auto;
        transform: rotate(0);
    }

    @include tablets {
        bottom: 60px
    }

    @include phones {
        bottom: 70px
    }
}

.title {
    @include scroll-second;
    margin-top: 30px;
}

.subtitle {
    @include scroll-first;
}
