@import '../../utils/utils.scss';

.container {
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;

    @include desktop {
        min-height: 450px
    }

    @include tablets {
        min-height: 400px;
    }

    @include phones {
        min-height: 300px;
    }
}

.title {
    @include scroll-second;
}

.fact {
    @include scroll-first;
}

.list {
    margin-left: 30px;

    @include tablets {
        margin-left: 25px;
    }

    @include phones {
        margin-left: 20px;
    }
}