@import '../utils/utils.scss';

.containerVisible {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 350px;
    padding: 20px;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    border-radius: 20px;
    background-color: rgb(101, 134, 204);
    transition: .5s;
    z-index: 999;

    @include tablets {
        height: 250px;
        width: 250px;
        top: calc(50% - 125px);
        left: calc(50% - 125px);
    }
}

.containerUnvisible {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 350px;
    padding: 20px;
    top: -100%;
    left: calc(50% - 175px);
    border-radius: 20px;
    background-color: rgb(65, 101, 179);
    transition: .5s;

    @include tablets {
        height: 250px;
        width: 250px;
        left: calc(50% - 125px);
    }
}

.icon {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;

    @include tablets {
        width: 60px;
        height: 60px;
    }
}