$primary-text-color: #333;
$secondary-text-color: #515151;
$third-text-color: white;

$button-primary: #5288da;
$button-active: #43bb88;

$header-background: rgb(250, 250, 250);
$main-background: #FFFFFF;
$footer-background: #FFFFFF;

$timer-text: #43bb88;
$time-secondary-text: #767777;
$timer-background: rgba(135,212,179,.2);

$link-primary: #497cc9;

$discount-text-color: #43bb88;

$attention-text: #43bb88;

$slider-item-background: hsla(0,0%,100%,.15);